<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adavi.academiccompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIywMFxPZE8l7QQcq5xBtnQqkBJW_PTE_0qYHIFw" />

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="HOME"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroUserInputActivity"
            android:theme="@style/AppTheme.CustomStatusBar" />
        <activity
            android:name=".DisplaySubjectsActivity"
            android:label="@string/title_activity_display_subjects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddNewSubjectActivity" />
        <activity
            android:name=".AndroidDatabaseManager"
            android:label="database manager" />
        <activity
            android:name=".DisplayEventActivity"
            android:label="@string/title_activity_display_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddEventActivity" />
        <activity
            android:name=".DisplaySubjectDetails"
            android:label="Subject Name" />
        <activity
            android:name=".DisplayUserProfileActivity"
            android:label="Profile" />
        <activity android:name=".DisplayEventDetailsActivity" />
        <activity
            android:name=".EditUserProfileActivity"
            android:label="Edit Profile" />
        <activity
            android:name=".SubjectMarks"
            android:label="@string/title_activity_subject_marks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddNewSubjectMarks" />
        <activity android:name=".DisplayExamDetails" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DisplayAttendance"></activity>
    </application>

</manifest>